@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

::-moz-selection {
    color: black;
    background-color: #F9CE4E;
}
::selection {
    color: black;
    background-color: #F9CE4E;
}
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
      --text-color: #eee;
      --bkg-color: #121212;
    }
    body.light-theme {
      --text-color: black;
      --bkg-color: #fff;
    }
  }
* {
    text-rendering: optimizeLegibility;
    text-decoration: none;
}
* a,
* button {
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
:root {
    --ft-first: 'Roboto Slab', serif;
    --ft-second: 'Roboto', sans-serif;
    --fc-init: white;
    --bc-first: black;
}
body{
    background-color: var(--bkg-color);
    color: var(--text-color);
}
span{
    color: var(--text-color);
}
.body-content {
    margin-left: auto;
    margin-right: auto;
    padding: 4em 1.5em 2em 1.5em;    
    max-width: 1024px;
}
h1 {
    font-family: var(--ft-first);
    font-size: 2.5em;
    text-align: center;
}
h2 {
    font-family: var(--ft-first);
    font-size: 1.7em;
    margin-top: 1.5em;
    margin-bottom: .5em;
    text-align: center;
}
h3 {
    font-family: var(--ft-second);    
    margin-top: .4em;
    margin-bottom: .2em;
}
p {
    font-family: var(--ft-second);
    text-align: justify;
    line-height: 1.6;
    word-spacing: 1px;
    letter-spacing: 0;
}
ul{
    padding-inline-start: 1.5em;
}
li{
    font-family: var(--ft-second);
    text-align: justify;
    line-height: 1.5;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 2px;
    word-spacing: 1px;
}

.flex-space{
    display: flex;
    flex-direction: column;
}
.fs-date{
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
/*------------------------------------------------------------------*/
.header {
    padding: 0.5em 0;
    left: 0;
    z-index: 200;
    height: 2em;
    display: flex;
    justify-content: flex-end;
    /*transition: top 0.2s ease-in-out;
    top: 5em;
    */
    position: fixed;
    width: 100%;
}
.header button{
    padding: 0 0.5em;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.header button span{
    font-size: 3em;
}
button:hover{
    opacity: .8;
}


/* -----------Móviles en horizontal o tablets en vertical----------- */

@media (min-width: 768px) {
    
}


/* -----------Tablets en horizonal y escritorios normales----------- */

@media (min-width: 1024px) {
    /*--------------------------------
}


/* -----------Escritorios muy anchos----------- */

@media (min-width: 1200px) {
    .body-content {
        margin-left: auto;
        margin-right: auto;
        padding: 4em 2rem 2em 2em;    
        max-width: 1024px;
    }
    h1 {
        font-size: 3.5em;
    }
    p{
        word-spacing: 1px;
    }
    h2 {
        font-size: 2em;
        margin-top: 1.5em;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    h3 {    
        margin-bottom: .3em;
        font-size: auto;
    }

    ul{
        padding-inline-start: 2.5em;
    }
    li{
        word-spacing: 1px;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-left: 2px;
    }
}