@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Rubik:300,400,500,700');
* {
    text-rendering: optimizeLegibility;
    text-decoration: none;
}
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
::-moz-selection {
    color: black;
    background-color: #F9CE4E;
}
::selection {
    color: black;
    background-color: #F9CE4E;
}
html {
    scroll-behavior: smooth;
}
:root {
    --ft-first: 'Roboto', sans-serif;
    --ft-second: 'Rubik', sans-serif;
    --fc-init: black;
}
* a,
* button {
    cursor: pointer;
}
.disable {
    opacity: 0.5;
}
.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    -ms-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}
#secure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.b-on:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.b-on:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background-color: white;
    /*cursor: url('po.svg'), auto;*/
}
header {
    padding: 0.5em 0;
    margin-top: -5em;
    background-color: white;
    border-bottom: 1px solid #eee;
    z-index: 200;
    display: flex;
    height: 2em;
    top: 5em;
    justify-content: flex-end;
    transition: top 0.2s ease-in-out;
    position: fixed;
    width: 100%;
}
header button, header a{
    font-size: 1.4em;
    color: black;
    padding: 0 0.5em;
    background-color: white;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header button:last-child{
    font-size: 0.8em;
}
header button b {
    font-family: var(--ft-first);
    font-weight: 700;
    color: var(--fc-init);
    text-transform: uppercase;
    font-size: 1em;
}
header button #hamb {
    padding: 0.5em;
    display: inline-block;
    margin: 0;
    width: 1.7em;
}
header button #hamb .barra {
    margin: 0.4em 0 0.4em;
    transition: all 0.3s;
    -webkit-transform-origin: 30% center;
    -moz-transform-origin: 30% center;
    -ms-transform-origin: 30% center;
    -o-transform-origin: 30% center;
    transform-origin: 30% center;
    width: 100%;
    display: block;
    border-radius: 10px;
    border: 1px solid black;
}
#n-dos {
    height: auto;
    display: none;
    position: fixed;
    margin-top: -5em;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;
    z-index: 100;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: white;
    text-align: center;
    overflow: auto;
}
#n-dos ul {
    margin: 0;
    padding: 0;
}
#n-dos ul li {
    list-style: none;
    line-height: 2.5em;
    padding: 0 0.5em;
}
#n-dos ul li a {
    margin: 0;
    color: black;
    font-family: var(--ft-first);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.5em;
}
#n-dos ul li:hover {
    background-color: lightgray;
    font-weight: 500;
}
#barra nav {
    display: none;
}

/*--------------------------------*/
.modal {
    display: none;
    position: fixed;
    margin-top: -5em;
    z-index: 205;
    height: auto;
    min-height: 110vh;
    background-color: white;
    overflow: scroll;
    width: 100%;
    overflow: auto;
}
.modal-content {
    position: relative;
    background-color: white;
    padding: 2em 5%;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;
}
.modal-content form {
    top: 50%;
    display: grid;
    grid-template-columns: 1fr;
    font-family: var(--ft-first);
}
.modal-content form label {
    font-weight: 700;
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.modal-content form input,
.modal-content form textarea {
    border-radius: 4px;
    border: 2px solid #eee;
    transition: all 0.1s;
    background-color: white;
    resize: none;
    padding: 10px 13px;
}
.modal-content form input:hover,
.modal-content form input:focus,
.modal-content form textarea:hover,
.modal-content form textarea:focus {
    border: 2px solid black;
}
.modal-content form .mBox {
    border: 0px;
    display: flex;
    justify-content: center;
    background: white;
    margin-top: 2em;
}
@-webkit-keyframes animatetop {
    from {
        top: -400px
    }
    to {
        top: 0
    }
}
@keyframes animatetop {
    from {
        top: -400px
    }
    to {
        top: 0
    }
}
.close {
    z-index: 90;
    color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.4em;
    padding-top: 0.3em;
    font-size: 28px;
}

/* -----------ESTILOS NORMALES (para móviles en vertical)----------- */
#init{
    margin-top: 5em;
}
#barra {
    background-color: rgb(254, 254, 254);
}
#barra .principal {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14em;
    text-align: center;
    font-family: var(--ft-first);
}
#barra .principal h1 {
    margin: 0;
    font-size: 1.3em;
    color: var(--fc-init);
    font-weight: 500;
}
#barra .principal h3 {
    color: var(--fc-init);
    margin-top: 0;
    margin-bottom: 2em;
    letter-spacing: 1px;
    font-size: 0.85em;
    color: #000;
    font-weight: 400;
}
.btn_event {
    font-size: 0.8em;
    letter-spacing: 1px;
    border-radius: 25px;
    padding: 0.7em 4em;
    color: var(--fc-init);
    background-color: white;
    border: 2px solid black;
    /*background-color: black;
    color: white;*/
    text-transform: capitalize;
    font-weight: 700;
}
#barra .contact {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
#barra .contact span {
    font-size: 1.4em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    display: flex;
    color: var(--fc-init);
    justify-content: center;
    align-self: center;
}
#barra img {
    padding: 5px;
    border: 2px solid darkorchid;
    width: 115px;
    height: 115px;
    object-fit: cover;
    border-radius: 250px;
}
.btn_event:hover {
    background: black;
    color: white;
}

/*------------------------------*/
#content {
    margin-top: 0;
    padding: 0;
    background-color: rgb(245, 246, 250);
    width: 100%;
}
#content main {
    margin: 0;
}
#content main .elem {
    margin-top: 0;
    height: 100vh;
    padding: 1.5em 1.8em;
    border-radius: 8px;
    height: auto;
    background-color: white;
}
#content main #r_uno p {
    font-family: var(--ft-first);
    color: var(--fc-init);
    letter-spacing: 1px;
    font-weight: 400;
}
#content main #r_uno .love {
    font-size: 1.2em;
    font-weight: 500;
}
#content main #r_uno p span {
    color: #FF3C32;
    font-size: 1em;
}
#content main #r_uno h2 {
    font-family: var(--ft-first);
    color: var(--fc-init);
}
#content main #r_uno ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}
#content main #r_uno li {
    margin: 0 0.4em 0.4em 0;
    background-color: lightgray;
    padding: 0.3em 0.9em;
    border-radius: 25px;
    font-family: var(--ft-first);
    font-size: 0.9em;
    text-transform: capitalize;
    letter-spacing: 1px;
}
#content main .elem h1 {
    font-family: var(--ft-first);
    font-size: 1.5em;
    color: var(--fc-init);
    padding: 0;
    margin: 0;
}

/*------------------------------*/
#content main #r_dos {
    height: auto;
}
.lina-edu {
    padding: 1em 0.5em;
}
.lina-edu .line {
    padding: 0.2em 0 0.2em 0em;
    border-bottom: 2px solid silver;
    transition: all 0.19s;
}
.lina-edu .line:hover {
    border-bottom: 2px solid #000;
}
.lina-edu .item {
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: all .4s;
}
.lina-edu h2 {
    letter-spacing: 1px;
    word-spacing: 2px;
    color: var(--fc-init);
    font-family: var(--ft-first);
    position: relative;
}
.lina-edu h5 {
    margin: -5px 0 0;
    color: var(--fc-init);
    font-family: var(--ft-first);
    position: relative;
}
.lina-edu .url a {
    display: flex;
}
.lina-edu .url span {
    display: flex;
    margin-top: 0.2em;
    margin-left: 0.2em;
    color: #222;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.8em;
}
.lina-edu p {
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #444444;
    font-family: var(--ft-first);
    margin: 8px 0 0;
    position: relative;
}
.lina-edu p:hover {
    color: #222;
}

/*-----------------------------*/
#content main #r_tres {
    height: auto;
}
#content main #r_tres .hg_uno {
    display: grid;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    grid-auto-rows: minmax(80px, 90px);
    grid-template-columns: repeat(1, 1fr);
    padding: 1em;
    grid-gap: 0.9em 0.7em;
}
#content main #r_tres .hg_uno .item {
    border-radius: 6px;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    transition: all .1s linear;
    display: flex;
    transition: all 0.08s;
    font-family: var(--ft-first);
}
#content main #r_tres .hg_uno .item:hover,
.disable:not(:hover) {
    transform: translateY(-2px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
}
#content main #r_tres .hg_uno .item .info {
    display: flex;
    align-items: center;
}
#content main #r_tres .hg_uno .item .info .datos {
    margin: 0.4em;
    padding: 0 0.8em;
}
#content main #r_tres .hg_uno .item .info .datos .title {
    display: flex;
}
#content main #r_tres .hg_uno .item .info .datos .title h3 {
    font-size: 1.2em;
    color: var(--fc-init);
}
#content main #r_tres .hg_uno .item .info .datos .title span {
    margin-left: -0.5em;
    color: #FF3C32;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    transition: all 0.1s;
    opacity: 0;
    align-items: center;
}
#content main #r_tres .hg_uno .item .info .datos>.title span:hover {
    opacity: 1;
}
#content main #r_tres .hg_uno .item .info .datos {
    font-size: 0.8em;
    color: rgb(55, 55, 55);
}
#content main #r_tres .hg_uno .item .info p {
    margin-top: -0.5em;
    color: gray;
}
#content main #r_tres .hg_uno .item .img {
    display: flex;
    border-radius: 5px 0 0 5px;
    justify-content: center;
    align-items: center;
    width: 6em;
}
#content main #r_tres .hg_uno .item .img img {
    width: 50px;
    height: 50px;
}

/* -----------Móviles en horizontal o tablets en vertical----------- */

@media (min-width: 768px) {
    .modal-content {
        padding: 2em 15%;
    }
    /*------------------------------*/
    #content main .elem {
        padding-left: 7em;
        padding-right: 7em;
    }
    #content main #r_uno p {
        text-align: justify;
    }
    /*----------------------------*/
    .lina-edu .line {
        padding: 0.2em 0 0.2em 0.6em;
        border-bottom: 0px;
        border-left: 2px solid silver;
        transition: all 0.19s;
    }
    .lina-edu .line:hover {
        border-left: 2px solid #000;
        border-bottom: 0px;
    }
    .lina-edu .item {
        padding: 0.5em 1em;
        border-radius: 5px;
        transition: all .4s;
    }
    .lina-edu h2 {
        letter-spacing: 1px;
        word-spacing: 2px;
        color: var(--fc-init);
        font-family: var(--ft-first);
        position: relative;
    }
    .lina-edu h5 {
        margin: -5px 0 0;
        color: var(--fc-init);
        font-family: var(--ft-first);
        position: relative;
    }
    .lina-edu .url a {
        display: flex;
    }
    .lina-edu .url span {
        display: flex;
        margin-top: 0.2em;
        margin-left: 0.2em;
        color: #222;
        justify-content: center;
        align-items: flex-end;
        font-size: 1.8em;
    }
    .lina-edu p {
        letter-spacing: 1px;
        word-spacing: 2px;
        color: #444444;
        font-family: var(--ft-first);
        margin: 8px 0 0;
        position: relative;
    }
    .lina-edu p:hover {
        color: #222;
    }
    .lina-edu h2:before {
        content: '';
        position: absolute;
        left: -1.4em;
        top: 1.7em;
        width: 15px;
        height: 15px;
        border: 3px solid silver;
        border-radius: 50%;
        background-color: gray;
    }
    .lina-edu h2:hover::before{
        border: 3px solid gray;
        background-color: #222;
    }
}


/* -----------Tablets en horizonal y escritorios normales----------- */

@media (min-width: 1024px) {
    #n-dos {
        display: none;
    }
    /*--------------------------------*/
    .modal {
        margin-top: -3em;
    }
    .modal-content {
        padding: 2em 25%;
    }
    /*--------------------------------*/
    header {
        z-index: 5;
        width: 79%;
        top: 0em;
        transition: top 0.2s ease-in-out;
        margin-top: 0;
        padding: 0;
        height: 3em;
        margin-left: 21%;
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
        position: relative;
        transition: all 0.4s;
    }
    header button,
    header a{
        padding: 0.5em;
        margin-right: 0.5em;
        color: var(--fc-init);
        font-size: 1.4em;
    }
    header button:hover,
    header a:hover{
        background-color: #eee;
    }
    header #menu {
        display: none;
    }
    
    /*button {
        padding: 0.7em 3em;
    }*/
    #init {
        display: flex;
        margin-top: 0em;
    }
    #barra {
        z-index: 10;
        height: auto;
        background-color: rgb(254, 254, 254);
        position: fixed;
        width: 24%;
        margin-top: -3.2em;
        overflow: auto;
        max-height: 100vh;
        border-right: 1px solid #eee;
    }
    #barra .principal {
        margin-top: 1.4em;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15em;
        text-align: center;
        font-family: var(--ft-first);
    }
    #barra .principal #mail {
        font-size: 0.8em;
        letter-spacing: 1px;
        border-radius: 25px;
        padding: 0.7em 1.6em;
    }
    #barra img {
        width: 110px;
        height: 110px;
    }
    #barra nav {
        display: inline;
    }
    #barra nav ul {
        padding: 0;
    }
    #barra nav ul li {
        list-style: none;
        overflow: hidden;
    }
    #barra nav ul li a:hover {
        background-color: lightgray;
        font-weight: 500;
    }
    #barra nav ul li a {
        display: block;
        padding: 0.8em 0 0.8em 2em;
        width: 100%;
        font-family: var(--ft-first);
        font-weight: 400;
        letter-spacing: 1px;
        color: var(--fc-init);
    }
    #barra .contact {
        margin-top: 1em;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    /*------------------------------*/
    #content {
        margin-top: 0;
        padding: 0;
        width: 76%;
        background-color: rgb(245, 246, 250);
        margin-left: 24%;
    }
    #content main {
        padding: 1.4em 1.4em;
        margin: 0;
    }
    #content main .elem {
        margin-top: 0;
        border: 1px solid #eee;
        padding: 2.3em 2.3em;
        margin-bottom: 1.4em;
    }
    /*------------------------------*/
    #content main #r_tres .hg_uno {
        display: grid;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        grid-auto-rows: minmax(80px, 90px);
        grid-template-columns: repeat(3, 1fr);
        padding: 1em;
        grid-gap: 15px 10px;
    }
    /*------------------------------*/
}


/* -----------Escritorios muy anchos----------- */

@media (min-width: 1200px) {
    .modal-content {
        padding: 2em 30%;
    }
    #barra {
        width: 21%;
    }
    #content {
        width: 100%;
        margin-left: 21%;
    }
}