@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
/* font-family: 'Source Sans Pro', sans-serif;*/
*{
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  cursor: url('po.svg'), auto;
}
::-moz-selection{
  color: white;
  background-color: black;
}
::selection{
  color: white;
  background-color: black;
}
.buno::-moz-selection, .btres::selection{
  color: #1B1B1E;
  background-color: white;
}
.buno::selection{
  color: #1B1B1E;
  background-color: white;
}
nav{
  height: 4.5em;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  /*background-color: red;*/
  justify-content: flex-end;
  align-items: center;
}
nav #menu{
  background-color: rgb(255,255,255);
  width: 3.2em;
  height: 3.2em;
  margin-right: 1em;
}
#menu .spin{
  border: 2px solid black;
  margin-bottom: 5px;
  border-radius: 25px;
  width: 60%;
  margin-left: 0.5em;
}
#menu #uno{
  margin-top: 15px;
}
#menu #dos{
  width: 30%;
}
#menu:hover{

}
.conteiner{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(330px, 245px);
  grid-template-areas:
    "suno"
    "icero"
    "iuno"
    "idos"
    "itres"
    "ifour"
    "ifive"
    "isix"
    "sdos"
    "iseven"
    "iocho"
    "inine"
    "iten"
    "ionce"
    "idoce"
    "itrece"
    "iktorce"
    "ikince"
    "idsix"
    "stres";
}
.buno{
  grid-area: suno;
  color: black;
  padding: 2em 1.4em 1.5em 2em;
  background-color: white;
}
.bdos{
  background-color: white;
  padding: 2em 1.4em 1.5em 2em;
  grid-area: sdos;
}
.btres{
  padding: 2em 1.4em 1.5em 2em;
  grid-area: stres;
  background-color: white;
  color: black;
}
.btres .s-media i:hover{
  color: black;
}
.box i{
  font-size: 1.2em;
  color: #6b6b6e;
}
.box h1{
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.box .encabezado{
  display: flex;
}
.box .encabezado i{
  font-size: 1.1em;
  margin: 8px 0 0 -20px;
  opacity: 0;
  color: black;
}
.bdos:hover i, .btres:hover #tag{
  margin: 8px 0 0 5px;
  font-size: 1.1em;
  opacity: 1;
  transition: all 0.1s ease;
}
.box p{
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 25px;
}
.box a{
  color: white;
  font-size: .9em;
  background-color: black;
  padding: .7em;
  text-transform: uppercase; 
  letter-spacing: 1px;
}
.box .icon{
  color: black;
  margin-left: -20px;
  opacity: 0;
  background-color: black;
  color: white;
  padding: .7em .7em .7em 0em;    
  font-size: .9em;
  transition: all 0.1s ease;
}
.box .enlace:hover i{
  opacity: 1;
  margin-left: -4px;
  color: white;
}
.fig-img0{
  grid-area: icero;
}
.fig-img1{
  grid-area: iuno;
}
.fig-img2{
  grid-area: idos;
}
.fig-img3{
  grid-area: itres;
}
.fig-img4{
  grid-area: ifour;
}
.fig-img5{
  grid-area: ifive;
}
.fig-img6{
  grid-area: isix;
}
.fig-img7{
  grid-area: iseven;
}
.fig-img8{
  grid-area: iocho;
}
.fig-img9{
  grid-area: inine;
}
.fig-img10{
  grid-area: iten;
}
.fig-img11{
  grid-area: ionce;
}
.fig-img12{
  grid-area: idoce;
}
.fig-img13{
  grid-area: itrece;
}
.fig-img14{
  grid-area: iktorce;
}
.fig-img15{
  grid-area: ikince;
}
.fig-img16{
  grid-area: idsix;
}
.fimg{
  width: 100%;
  height: 100%;
  filter: grayscale(0%);
  object-fit: cover;
  transition: all 0.2s ease-out;
}
main:hover img:not(:hover){
  filter: grayscale(100%);
}
/********************************************
 * Móviles en horizontal o tablets en vertical
 *********************************************/
@media (min-width: 768px) { 
  .buno{
    padding: 4em 1.4em 0.5em 2em;
  }
  .bdos{
    padding: 5em 1.4em 0.5em 2em;
  }
  .btres{
    padding: 4em 1.4em 0.5em 2em;
  }


  .conteiner{
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, 170px);
    grid-template-areas:
      "suno   suno    iseven"
      "suno   suno    iseven"
      "icero  icero   iuno"
      "icero  icero   itres"
      "iten   isix    itres"
      "itrece idos    idos"
      "ikince idos    idos"
      "ikince sdos    sdos"
      "ionce  sdos    sdos"
      "iocho  iocho   ifive"
      "iocho  iocho   ifour"
      "idsix  inine   ifour"
      "idsix  iktorce iktorce"
      "idoce  iktorce iktorce"
      "idoce  stres   stres"
      ".      stres stres";
  }

}

/* *******************************************
 * Tablets en horizonal y escritorios normales
***********************************************/
@media (min-width: 1024px) {
  .buno{
    padding: 2em 1.4em 1.5em 2em;
  }
  .bdos{
    padding: 2em 1.4em 1.5em 2em;
  }
  .btres{
    padding: 2em 1.4em 1.5em 2em;
  }

  .conteiner{
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(auto, 150px);
    grid-template-areas:
    "suno   suno    icero   icero   iten"
    "suno   suno    icero   icero   iuno"
    "iseven idos    idos    itrece  iuno"
    "iseven idos    idos    sdos    sdos"
    "iocho  iocho   isix    sdos    sdos"
    "iocho  iocho   ifour   ifour   itres"
    "ikince inine   ifour   ifour   itres"
    "ikince iktorce iktorce idsix   idsix"
    "ionce  iktorce iktorce idsix   idsix"
    "stres  stres   ifive   idoce   idoce"
    "stres  stres   .       idoce   idoce"
  }
}

/**************************
 * Escritorios muy anchos
***************************/
@media (min-width: 1200px) {
  .conteiner{
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(auto, 150px);
    grid-template-areas:
      "suno     suno    icero   icero   iuno    iuno    itres"
      "suno     suno    icero   icero   iuno    iuno    itres"
      "ifour    ifive   idos    idos    iuno    iuno    isix"
      "ifour    ifive   idos    idos    iseven  sdos    sdos"
      "iocho    iocho   inine   iten    iseven  sdos    sdos"
      "iocho    iocho   ionce   iten    idoce   idoce   idoce"
      "itrece   iktorce iktorce idsix   idoce   idoce   idoce"
      "ikince   iktorce iktorce idsix   stres   stres   stres"
      "ikince   .       .       .       stres   stres   stres";
  }

}


